// $border-center-color: rgba(0,0,0,0.3) !default;
$border-color: #333 !default;
$border-top-width: 30px !default;
$border-r-width: 30px !default;
$border-btm-width: 30px !default;
$border-l-width: 140px !default;


*,
*:after,
*::before {
    @include box-sizing(border-box);
}

.bt-content {
    position: absolute;
    width: 100%;
    display: none;
    opacity: 0;
    background: #fff;

    @include transition-property(opacity);
    @include transition-duration($app-transition-time);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(0.2s);
}
.bt-menu-open .bt-content {
    height: 100%;
}

.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-width: 0px;
    border-style: solid;
    border-color: $border-color;

    // opacity: 0;
    // background-color: rgba(0,0,0,0);
    



    @include transition-property(border-width, background-color, z-index);
    @include transition-duration($app-transition-time);
    @include transition-timing-function(ease-in-out);


    &.bt-menu-open {
        border-width: $border-top-width $border-r-width $border-btm-width $border-l-width;
        // opacity: 1;
        z-index: 1000;
        
        ul {
            left: 0;
            li {
                visibility: visible;
                opacity: 1;
                // transition: transform 0.3s, opacity 0.3s;
                transform: translate3d(0,0,0);
            }
        }
        .bt-content {
            display: block;
            opacity: 1;
        }
    }

    ul {
        position: fixed;
        width: $border-l-width;
        top: $border-top-width;
        left: $border-l-width;
        margin: 0;
        padding: 0;
        list-style: none;
        backface-visibility: hidden;
        li {
            height: 57px;
            padding: 16px 0;
            opacity: 0;
            visibility: hidden;

            @include transition-property(transform, opacity);
            @include transition-duration($app-transition-time);
            @include transition-timing-function(ease-in-out);

            @include transform-origin(top left);
            @include transform-style(preserve-3d);

            // transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
        }
        li, li a {
            display: block;
            width: 100%;
            text-align: center;       
        }


        li:first-child  {@include transform(translate3d(-100% 200% 0)   );}
        li:nth-child(2) {@include transform(translate3d(-100% 100% 0)   );}
        li:nth-child(3) {@include transform(translate3d(-100% 0 0)      );}
        li:nth-child(4) {@include transform(translate3d(-100% -100% 0)  );}
        li:nth-child(5) {@include transform(translate3d(-100% -200% 0)  );}
    }
}