$border-center-color: rgba(0,0,0,0.3) !default;
$border-color: #333 !default;
$border-top-w: 30px !default;
$border-r-w: 30px !default;
$border-btm-w: 30px !default;
$border-l-w: 90px !default;


*,
*:after,
*::before {
    box-sizing: border-box;
}

.bt-overlay {
    position: absolute;
    width: 100%;
}
.bt-menu-open .bt-overlay {
    height: 100%;
}

.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: $border-color;
    background-color: rgba(0,0,0,0);
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    z-index: 100;

    &.bt-menu-open {
        height: 100%;
        border-width: $border-top-w $border-r-w $border-btm-w $border-l-w;
        background-color: $border-center-color;
        transition: border-width 0.3s, background-color 0.3s;
        ul li {
            visibility: visible;
            opacity: 1;
            transition: transform 0.3s, opacity 0.3s;
            transform: translate3d(0,0,0);
        }
    }

    ul {
        position: fixed;
        top: 75px;
        left: 0;
        margin: 0;
        padding: 0;
        width: 90px;
        list-style: none;
        backface-visibility: hidden;
        li {
            padding: 16px 0;
            opacity: 0;
            visibility: hidden;
            transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
        }
        li, li a {
            display: block;
            width: 100%;
            text-align: center;       
        }
        li:first-child  {transform: translate3d(-100%,200%,0);}
        li:nth-child(2) {transform: translate3d(-100%,100%,0);}
        li:nth-child(3) {transform: translate3d(-100%,0,0);}
        li:nth-child(4) {transform: translate3d(-100%,-100%,0);}
        li:nth-child(5) {transform: translate3d(-100%,-200%,0);}
    }
}