$tag-width: 42px;
$tag-height: 42px;
$neg-tag-height: -42px;

$drawer-menu-width: 56px;
$drawer-menu-background: #1d202a;
$carousell-btn-width: 56px;


$drawer-top-padding: 40px;
$drawer-vertical-margin: 40px;
$drawer-height: 350px;

$project-min-width: 400px;
$project-max-width: 650px;



// Styling for the upper layers of the drawer
#projectsDrawer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $drawer-height;
	background: $drawer-background-color;
	color: $drawer-text-color;
	text-align: left;
	font-size: 13px;

	.tag {
		display: inline-block;
		position: relative;
		top: $neg-tag-height;
		background: $drawer-background-color;
		height: $tag-height;
		line-height: $tag-height;
		width: $tag-width;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	&.noLeft {
		#drawerLeftBtn {
			display: none;
		}
	}
	&.noRight {
		#drawerRightBtn {
			display: none;
		}
	}
}


// Style for the menu on the left in the drawer
#drawerMenu {
	background: $drawer-menu-background;
	width: $drawer-menu-width;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding-top: $drawer-top-padding;

	.drawerMenuOption {
		display: inline-block;
		width: $drawer-menu-width;
		height: $drawer-menu-width;
		text-align: center;
		font-size: 24px;
		font-weight: 800;
		color: #fff;
		padding: 16px 15px 15px 16px;
	}

	.btn {
		height: 25px;
		width: 25px;
	}
}

// Style for the left and right buttons to shift the visible projects
.drawerNav {
	width: $drawer-menu-width;
	height: 100%;
	position: absolute;
	top: 0;

	.btn.left-arrow, .btn.right-arrow {
		height: 100%;
		width: 100%;
		@include box-sizing(border-box);
		padding: ($drawer-height - 30px)/2 0;
		background-position: center;
		background-repeat: no-repeat;
	}
}

#drawerLeftBtnContainer {
	left: $drawer-menu-width;
}

#drawerRightBtnContainer {
	right: 0;
}



// Style for the list of projects
#projectList {
	height: $drawer-height - 2*$drawer-vertical-margin;
	position: absolute;
	left: 2*$drawer-menu-width;
	right: $drawer-menu-width;
	top: 0;
	@include box-sizing(border-box);
	margin: $drawer-vertical-margin 0;
	overflow: hidden;

	$break1: 1070px;
	$break1-pre: $break1 - 1px;
	$break2: 1570px;
	$break2-pre: $break2 - 1px;

	$small: 0px $break1-pre;
	
	.project {
		min-width: 400px;
		margin: 0 65px;
		display: inline-block;
		height: 100%;
		vertical-align: top;
		position: relative;
		text-align: left;

		.title {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
		}

		&.hideR {
			@include position(absolute, 0 (-1.5*$project-max-width) null null);
		}
		&.hideL {
			@include position(absolute, 0 null null (-1.5*$project-max-width));	
		}
	}

	.projectTaskList {
		height: 250px;
		overflow-y: scroll;
		padding-bottom: 15px; // So bottom task is completely visible
	}
	.task {
		border-bottom: 1px solid #33394b;
		text-align: left;
		position: relative;

		&.accceptedToday {
			opacity: 0.5;
			&.p1 {
				color: $p1-color;
			}
			&.p2 {
				color: $p2-color;
			}
			&.p3 {
				color: $p3-color;
			}
		}

		.deleteTaskBtn {
			position: absolute;
			top: 1px;
			right: 0;
			display: none;
			cursor: pointer;
			opacity: 0.65;
		}

		&:hover .deleteTaskBtn {
			display: inline-block;
		}
		.createBtn {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		form {
			margin: 10px 0;
			position: relative;
		}
		input {
			margin: 5px 0;
			@include box-sizing(border-box);
		}
		.nameInput {
			border: 0;
			padding: 3px;
			width: 50%;
			line-height: 15px;
			color: #fff;
			background: #33394b;
		}

		input[type="submit"] {
			-webkit-appearance: none;
			border: 0;
			color: #fff;
		}
		input:focus {
			outline: 0;
			outline-offset: 0;
		}

	}

}




.ui-slider-horizontal {
	height: 8px;
	width: 200px;
}
.ui-slider {
	position: relative;
	text-align: left;
	display: inline-block;
	margin: 0px
}
.ui-slider:hover {
	cursor: pointer;
}

.ui-widget-content {
	// border: 2px solid #452;
	border-radius: 2px;
	background: #33394b;
	color: blue;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 2px;
	height: 15px;
	top: 0;
	margin-left: 0;
	margin-top: -3px;
	background: red;

	&:focus {
		outline: none;
	}
}







