$header-height: 100px;

header {
	height: $header-height;
	border-bottom: 1px solid black;
	.wrapper {
		position: relative;
	}
	.logo {
		position: absolute;
		left: 0;
		line-height: $header-height;
	}
	.loginBtns {
		position: absolute;
		right: 150px;
		top: 82px;
	}
}