/* Variables */

$checkbox-border-thickness: 3px;

/* P1 */
$p1-vertical-padding: 50px;
$p1-vert-margin: 0;
$p1-font-size: 48px;
$p1-height: 74px;
$p1-color: #e84f4f;

/* P2 */
$p2-vertical-padding: 40px;
$p2-vert-margin: 38px;
$p2-font-size: 30px;
$p2-height: 44px;
$p2-color: #70bcc4;

/* P3 */
$p3-vertical-padding: $p2-vertical-padding;
$p3-vert-margin: $p2-vert-margin;
$p3-font-size: $p2-font-size;
$p3-height: $p2-height;
$p3-color: #fcb041;

/* Secondary text color */
$secondary-title-color: #5f6e8b;
$secondary-title-font-size: 18px;
$secondary-vertical-padding: 34px;

#taskList {
	$map: layout(auto 14 1/4 outside fluid);
	@include layout($map);

	@include nested(14) {
		.checkboxContainer {
			@include span(2);
			@include pre(1);
		}
		.task-info {
			@include span(8);
		}
		.priority-secondary {
			.checkboxContainer {
				@include span(1);
				@include pre(1);
			}
			.task-info {
				@include span(9);
			}	
		}
		.action-mode {
			@include span(last 2);
			@include post(1);
		}
		.secondary-title {
			@include pre(1);
			@include span(12);
			@include post(1);
		}
		.floatBreak {
			@include break;
		}
	}

	text-align: left;
	overflow-x: hidden;
	.emptyTask {
		// margin: 20px 0;
	}
}
.task {
	border-bottom: 2px solid #e5e7ea;
	position: relative;
	
	// input {
	// 	margin-right: 10px;
	// }

	/*.completed-true .task-title {
		text-decoration: line-through;
	}*/
}

.dragged-task {
	width: 35%;
	text-align: left;
}

.checkbox {
	border: $checkbox-border-thickness solid black;
	border-radius: 3px;
	position: relative;
	height: 21px;
	width: 21px;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	text-align: center;
	font-weight: 300;
	.window {
		width: 100%;
		height: 100%;
		color: #fff;
		&:hover {
			opacity: 0;
		}
	}
	.back {
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	img {
		height: 100%;
		width: 100%;
	}
	img, .window, .back {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.task-info {
	display: inline-block;
	vertical-align: top;
}
.task-title {
	
}
.task-project {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: gray;
	letter-spacing: 2px;
}

.action-mode {
	p {
		display: inline-block;
		font-size: 12px;
		line-height: 20px;
		padding: 20px 0;
		vertical-align: top;
		margin: 0;
	}
	.action-btn {
		display: inline-block;
		// margin-right: 24px;
	}
}

.completed-true {
	.task-title {
		text-decoration: line-through;
	}
	&.priority-1 .back {background: $p1-color;}
	&.priority-2 .back {background: $p2-color;}
	&.priority-3 .back {background: $p3-color;}
	&.priority-secondary .back {background: #000;}
}

.priority-1 {
	font-size: $p1-font-size;
	line-height: $p1-font-size;
	padding: $p1-vertical-padding 0;
	.checkbox {
		border-color: $p1-color;
		height: $p1-height;
		width: $p1-height;
		// margin: $p1-vert-margin 50px $p1-vert-margin 0;
		font-size: 65px;
		line-height: $p1-height;
	}
	.window {
		background: $p1-color;
	}
	.task-info {
		// height: $p1-height;
		// margin: $p1-vert-margin 0;
	}
}

.priority-2 {
	font-size: $p2-font-size;
	line-height: $p2-font-size;
	padding: $p2-vertical-padding 0;
	.checkbox {
		border-color: $p2-color;
		width: $p2-height;
		height: $p2-height;
		// margin: $p2-vert-margin 80px $p2-vert-margin 0;
		font-size: 34px;
		line-height: $p2-height - 2*$checkbox-border-thickness;
	}
	.window {
		background: $p2-color;
	}
	.task-info {
		// height: $p2-height;
		// margin: $p2-vert-margin 0;
	}
}

.priority-3 {
	font-size: $p3-font-size;
	padding: $p3-vertical-padding 0;
	.checkbox {
		border-color: $p3-color;
		width: $p3-height;
		height: $p3-height;
		// margin: $p3-vert-margin 80px $p3-vert-margin 0;
		font-size: 34px;
		line-height: $p3-height - 2*$checkbox-border-thickness;
	}
	.window {
		background: $p3-color;
	}
	.task-info {
		// height: $p3-height;
		// margin: $p3-vert-margin 0;
	}
}

$secondary-font-size: 20px;
$secondary-color: #9aa1b0;
$secondary-vert-margin: 33px;

.priority-secondary {
	padding: $secondary-vertical-padding 0;
	.checkbox {
		border-width: 1px;
		border-color: $secondary-color;
	}
	.action-mode {
		margin-top: -10px;
		overflow: visible;
		p {
			padding: 10px 0;
		}
		.action-btn {
			height: 40px;
			// padding: 0 10px;
			background-size: 40px 40px;
			background-position: 10px 0; 
			background-repeat: no-repeat;
			overflow: visible;
		}
	}
	.task-info {
		// margin: ($secondary-vert-margin - 10px) 0;
	}
}

.secondary-title {
	font-size: $secondary-title-font-size;
	color: $secondary-title-color;
	margin: 33px 0;

}