<template name="header">

	<header id="header" class="{{#if drawerOpen}}hide{{/if}}">
		<div class="leftContainer">
			<button type="button" id="menuBtn" class="btn menu-btn bt-menu-trigger"></button>
			<button type="button" id="newTaskBtn" class="btn">+ New task</button>
		</div>
			
			
		<div class="centerContainer">
			<p>{{ estimatedRun }}</p>
			<progress value='{{ progress }}' max='1' min='0'></progress>
		</div>
			
		<div class="rightContainer">
			{{> loginButtons}}
		</div>

	</header>

</template>