<template name="taskList">
	<div id="taskList">
		<!-- This can be improved by creating a custom handlebars block helper  -->
		<div data-priority="1" class="task priority-1 completed-{{tasks.p1.completed}} taskDrop">
			{{#if tasks.p1}}
				{{> singleTask tasks.p1}}
			{{else}}
				{{> emptyTask }}
			{{/if}}
		</div>

		<div data-priority="2" class="task priority-2 completed-{{tasks.p2.completed}} taskDrop">
			{{#if tasks.p2}}
				{{> singleTask tasks.p2}}
			{{else}}
				{{> emptyTask }}
			{{/if}}
		</div>

		<div data-priority="3" class="task priority-3 completed-{{tasks.p3.completed}} taskDrop">
			{{#if tasks.p3}}
				{{> singleTask tasks.p3}}
			{{else}}
				{{> emptyTask }}
			{{/if}}
		</div>
		
		<div data-priority="secondary" class="secondary-title taskDrop">
			{{tasks.number_of_secondary}} secondary tasks:
		</div>
		
		{{#each tasks.secondary}}
			<div data-priority="secondary" class="task priority-secondary completed-{{completed}} taskDrop">
				{{> singleTask}}
			</div>
		{{/each}}
	</div>
</template>