<template name="taskList">
	<div id="taskList">
		<div class="task priority-1">
			{{#if p1}}
				{{> singleTask p1}}
			{{else}}
				{{> emptyTask }}
			{{/if}}
		</div>

		<div class="task priority-2">
			{{#if p2}}
				{{> singleTask p2}}
			{{else}}
				{{> emptyTask }}
			{{/if}}
		</div>

		<div class="task priority-3">
			{{#if p3}}
				{{> singleTask p3}}
			{{else}}
				{{> emptyTask }}
			{{/if}}
		</div>
		
		</br>
		Secondary tasks:
		{{#each secondary}}
			<div class="task priority-secondary">
				{{> singleTask}}
			</div>
		{{/each}}
	</div>
</template>