<template name="singleTask">
	<div class="wrapper">
		<div class="checkbox clickable">
			{{#if completed}}
				<img src="images/check_transparent.png" />
				<div class="back"></div>
			{{else}}
				<div class="window">{{priority}}</div>
				<div class="back">
					<img src="images/check_blank.png" />
				</div>
			{{/if}}
		</div>
		<div class="task-info">
			<div class="task-title">{{title}}</div>
			<div class="task-project">{{projectName}}</div>
		</div>
	</div>
	<!-- <input type="checkbox" {{#if completed}}checked{{/if}} /><span>{{title}}</span> -->
</template>

<template name="emptyTask">
	<div class="wrapper">
		Drag task here
	</div>
</template>