
@import "modules/_normalize.scss";
@import "vendor/_breakpoint.scss";
@import "vendor/_susy.scss";
@import "vendor/bourbon/_bourbon.scss";

@import "partials/_sindre.scss";

// Vertical rythm plugin: http://atendesigngroup.com/blog/vertical-rhythm-compass
// @include establish-baseline;

$app-font: 'Proxima Nova';
$app-text-color: #253659;
$app-transition-time: 0.3s;

$pace-green: #a8be37;

// Projects drawer variables
$drawer-text-color: #fff;
$drawer-background-color: #252a3a;


$susy: (
	columns: 12,		// Number of columns in the grid
	gutters: 1/4,		// The size of the gutter in relation to a single column
	math: fluid,
	output: float,
);



@import "modules/_header.scss";
@import "modules/_tasks.scss";
@import "modules/_drawer.scss";
@import "modules/_borderMenu.scss";

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: $app-font;
	color: $app-text-color;
	position: relative;
	text-align: center;
}


.susy {
	width: 95%;
	display: inline-block;
	@include container();
}



.btn {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	padding: 0;
	outline: none;
	color: inherit;
	background-repeat: no-repeat;

	&.menu-btn {
		width: 24px;
		height: 17px;
		background: url('images/icon-menu.png');
	}
	&.action-btn {
		width: 60px;
		height: 60px;
		background: url('images/action-btn.png');
	}
	&.more-btn {
		width: 25px;
		height: 25px;
		background: url('images/icon-more.png');
	}
	&.left-arrow {
		width: 30px;
		height: 30px;
		background: url('images/icon-arrow.png');
		@include transform(scaleX(-1));
	    filter: FlipH;
	    -ms-filter: "FlipH";
	}
	&.right-arrow {
		width: 30px;
		height: 30px;
		background: url('images/icon-arrow.png');
	}
}

