
@import "modules/_normalize.scss";
@import "partials/_sindre.scss";

// Vertical rythm plugin: http://atendesigngroup.com/blog/vertical-rhythm-compass
// @include establish-baseline;

$app-font: 'Proxima Nova';
$app-text-color: #253659;


// Projects drawer variables
$drawer-text-color: #fff;
$drawer-background-color: #252a3a;




@import "modules/_header.scss";
@import "modules/_tasks.scss";
@import "modules/_drawer.scss";
@import "modules/_borderMenu.scss";


body {
	font-family: $app-font;
	color: $app-text-color;
}
