article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clickable {
  cursor: pointer; }

.exclBox {
  display: block;
  width: 100%;
  text-align: center;
  position: relative; }

header, #header {
  height: 98px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 17px;
  -webkit-transform-origin: left bottom;
  -webkit-transition: all 0.3s; }
  header .leftContainer, #header .leftContainer {
    width: 20.75472%;
    float: left;
    margin-right: 1.88679%; }
  header .centerContainer, #header .centerContainer {
    width: 32.07547%;
    float: left;
    margin-right: 1.88679%;
    margin-left: 11.32075%; }
  header .rightContainer, #header .rightContainer {
    width: 20.75472%;
    float: right; }
  header.hide, #header.hide {
    -webkit-transform: translate(0, -98px); }
  header .leftContainer, header .rightContainer, header .centerContainer, #header .leftContainer, #header .rightContainer, #header .centerContainer {
    height: 98px; }
  header .leftContainer, header .centerContainer, header .rightContainer, #header .leftContainer, #header .centerContainer, #header .rightContainer {
    padding: 40px 0 41px 0;
    height: 98px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  header .leftContainer, #header .leftContainer {
    text-align: left; }
  header .centerContainer p, #header .centerContainer p {
    margin: 0;
    line-height: 12px; }
  header .rightContainer, #header .rightContainer {
    text-align: right; }
  header #login-dropdown-list, #header #login-dropdown-list {
    left: auto;
    right: 0;
    top: 20px; }
  header progress, #header progress {
    width: 100px;
    height: 2px;
    border: 0;
    padding: 0;
    background: #d0d7e4;
    -webkit-appearance: none; }
    header progress::-webkit-progress-bar, #header progress::-webkit-progress-bar {
      background-color: #d0d7e4; }
    header progress::-webkit-progress-value, #header progress::-webkit-progress-value {
      background-color: #a8be37; }
    header progress::-moz-progress-bar, #header progress::-moz-progress-bar {
      background-color: #a8be37; }
  header .vCenterBox, #header .vCenterBox {
    height: 98px;
    position: relative;
    text-align: left; }
  header #menuBtn, header #newTaskBtn, #header #menuBtn, #header #newTaskBtn {
    vertical-align: top; }
  header .login-link-text, header #newTaskBtn, #header .login-link-text, #header #newTaskBtn {
    height: 17px;
    line-height: 17px;
    text-decoration: none; }
  header #newTaskBtn, #header #newTaskBtn {
    margin-left: 55px;
    text-transform: uppercase; }
  header #menu-btn-container, header #new-task-container, #header #menu-btn-container, #header #new-task-container {
    display: inline-block; }

/* Variables */
/* P1 */
/* P2 */
/* P3 */
/* Secondary text color */
#taskList {
  text-align: left;
  overflow-x: hidden; }
  #taskList .checkboxContainer {
    width: 13.04348%;
    float: left;
    margin-right: 1.44928%;
    margin-left: 7.24638%; }
  #taskList .task-info {
    width: 56.52174%;
    float: left;
    margin-right: 1.44928%; }
  #taskList .priority-secondary .checkboxContainer {
    width: 5.7971%;
    float: left;
    margin-right: 1.44928%;
    margin-left: 7.24638%; }
  #taskList .priority-secondary .task-info {
    width: 63.76812%;
    float: left;
    margin-right: 1.44928%; }
  #taskList .action-mode {
    width: 13.04348%;
    float: right;
    margin-right: 7.24638%; }
  #taskList .secondary-title {
    margin-left: 7.24638%;
    width: 85.50725%;
    float: left;
    margin-right: 1.44928%;
    margin-right: 7.24638%; }
  #taskList .floatBreak {
    clear: both; }

.task {
  border-bottom: 2px solid #e5e7ea;
  position: relative;
  /*.completed-true .task-title {
  	text-decoration: line-through;
  }*/ }

.dragged-task {
  width: 35%;
  text-align: left; }

.checkbox {
  border: 3px solid black;
  border-radius: 3px;
  position: relative;
  height: 21px;
  width: 21px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  font-weight: 300; }
  .checkbox .window {
    width: 100%;
    height: 100%;
    color: #fff; }
    .checkbox .window:hover {
      opacity: 0; }
  .checkbox .back {
    width: 100%;
    height: 100%;
    z-index: -1; }
  .checkbox img {
    height: 100%;
    width: 100%; }
  .checkbox img, .checkbox .window, .checkbox .back {
    position: absolute;
    top: 0;
    left: 0; }

.task-info {
  display: inline-block;
  vertical-align: top; }

.task-project {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: gray;
  letter-spacing: 2px; }

.action-mode p {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 20px 0;
  vertical-align: top;
  margin: 0; }
.action-mode .action-btn {
  display: inline-block; }

.completed-true .task-title {
  text-decoration: line-through; }
.completed-true.priority-1 .back {
  background: #e84f4f; }
.completed-true.priority-2 .back {
  background: #70bcc4; }
.completed-true.priority-3 .back {
  background: #fcb041; }
.completed-true.priority-secondary .back {
  background: #000; }

.priority-1 {
  font-size: 48px;
  line-height: 48px;
  padding: 50px 0; }
  .priority-1 .checkbox {
    border-color: #e84f4f;
    height: 74px;
    width: 74px;
    font-size: 65px;
    line-height: 74px; }
  .priority-1 .window {
    background: #e84f4f; }

.priority-2 {
  font-size: 30px;
  line-height: 30px;
  padding: 40px 0; }
  .priority-2 .checkbox {
    border-color: #70bcc4;
    width: 44px;
    height: 44px;
    font-size: 34px;
    line-height: 38px; }
  .priority-2 .window {
    background: #70bcc4; }

.priority-3 {
  font-size: 30px;
  padding: 40px 0; }
  .priority-3 .checkbox {
    border-color: #fcb041;
    width: 44px;
    height: 44px;
    font-size: 34px;
    line-height: 38px; }
  .priority-3 .window {
    background: #fcb041; }

.priority-secondary {
  padding: 34px 0; }
  .priority-secondary .checkbox {
    border-width: 1px;
    border-color: #9aa1b0; }
  .priority-secondary .action-mode {
    margin-top: -10px;
    overflow: visible; }
    .priority-secondary .action-mode p {
      padding: 10px 0; }
    .priority-secondary .action-mode .action-btn {
      height: 40px;
      background-size: 40px 40px;
      background-position: 10px 0;
      background-repeat: no-repeat;
      overflow: visible; }

.secondary-title {
  font-size: 18px;
  color: #5f6e8b;
  margin: 33px 0; }

#projectsDrawer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 350px;
  background: #252a3a;
  color: white;
  text-align: left;
  font-size: 13px; }
  #projectsDrawer .tag {
    display: inline-block;
    position: relative;
    top: -42px;
    background: #252a3a;
    height: 42px;
    line-height: 42px;
    width: 42px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  #projectsDrawer.noLeft #drawerLeftBtn {
    display: none; }
  #projectsDrawer.noRight #drawerRightBtn {
    display: none; }

#drawerMenu {
  background: #1d202a;
  width: 56px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 40px; }
  #drawerMenu .drawerMenuOption {
    display: inline-block;
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    padding: 16px 15px 15px 16px; }
  #drawerMenu .btn {
    height: 25px;
    width: 25px; }

.drawerNav {
  width: 56px;
  height: 100%;
  position: absolute;
  top: 0; }
  .drawerNav .btn.left-arrow, .drawerNav .btn.right-arrow {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 160px 0;
    background-position: center;
    background-repeat: no-repeat; }

#drawerLeftBtnContainer {
  left: 56px; }

#drawerRightBtnContainer {
  right: 0; }

#projectList {
  height: 270px;
  position: absolute;
  left: 112px;
  right: 56px;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 40px 0;
  overflow: hidden; }
  #projectList .project {
    min-width: 400px;
    margin: 0 65px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    position: relative;
    text-align: left;
    background: red;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    #projectList .project .title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px; }
    #projectList .project.hideR {
      position: absolute;
      top: 0;
      right: -975px; }
    #projectList .project.hideL {
      position: absolute;
      top: 0;
      left: -975px; }
  #projectList .projectTaskList {
    height: 250px;
    overflow-y: scroll; }
  #projectList .task {
    border-bottom: 1px solid #33394b;
    text-align: left; }

*,
*:after,
*::before {
  box-sizing: border-box; }

.bt-overlay {
  position: absolute;
  width: 100%; }

.bt-menu-open .bt-overlay {
  height: 100%; }

.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333333;
  background-color: transparent;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s; }
  .bt-menu.bt-menu-open {
    height: 100%;
    border-width: 30px 30px 30px 90px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: border-width 0.3s, background-color 0.3s;
    z-index: 10; }
    .bt-menu.bt-menu-open ul {
      left: 0; }
      .bt-menu.bt-menu-open ul li {
        visibility: visible;
        opacity: 1;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, 0, 0); }
  .bt-menu ul {
    position: fixed;
    width: 90px;
    top: 75px;
    left: -90px;
    margin: 0;
    padding: 0;
    list-style: none;
    backface-visibility: hidden; }
    .bt-menu ul li {
      padding: 16px 0;
      opacity: 0;
      visibility: hidden;
      transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s; }
    .bt-menu ul li, .bt-menu ul li a {
      display: block;
      width: 100%;
      text-align: center; }
    .bt-menu ul li:first-child {
      transform: translate3d(-100%, 200%, 0); }
    .bt-menu ul li:nth-child(2) {
      transform: translate3d(-100%, 100%, 0); }
    .bt-menu ul li:nth-child(3) {
      transform: translate3d(-100%, 0, 0); }
    .bt-menu ul li:nth-child(4) {
      transform: translate3d(-100%, -100%, 0); }
    .bt-menu ul li:nth-child(5) {
      transform: translate3d(-100%, -200%, 0); }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Proxima Nova";
  color: #253659;
  position: relative;
  text-align: center; }

.susy {
  width: 95%;
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .susy::after {
    content: " ";
    display: block;
    clear: both; }

.btn {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
  color: inherit;
  background-repeat: no-repeat; }
  .btn.menu-btn {
    width: 24px;
    height: 17px;
    background: url("images/icon-menu.png"); }
  .btn.action-btn {
    width: 60px;
    height: 60px;
    background: url("images/action-btn.png"); }
  .btn.more-btn {
    width: 25px;
    height: 25px;
    background: url("images/icon-more.png"); }
  .btn.left-arrow {
    width: 30px;
    height: 30px;
    background: url("images/icon-arrow.png");
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .btn.right-arrow {
    width: 30px;
    height: 30px;
    background: url("images/icon-arrow.png"); }
