article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clickable {
  cursor: pointer; }

.exclBox {
  display: block;
  width: 100%;
  text-align: center;
  position: relative; }

header {
  height: 100px;
  border-bottom: 1px solid black; }
  header .wrapper {
    position: relative;
    text-align: center; }
  header .logo {
    position: absolute;
    left: 0;
    line-height: 100px; }
  header .loginBtns {
    position: absolute;
    right: 150px;
    top: 82px; }

#dailyInfo {
  display: inline-block;
  height: 100px; }

/* Variables */
/* P1 */
/* P2 */
/* P3 */
/* Secondary text color */
#taskList {
  width: 95%;
  display: inline-block; }
  #taskList .wrapper {
    text-align: left;
    display: inline-block;
    width: 85%; }
  #taskList .emptyTask {
    margin: 20px 0; }

.task {
  width: 100%;
  border-bottom: 1px solid #e5e7ea;
  text-align: center;
  position: relative;
  /*.completed-true .task-title {
  	text-decoration: line-through;
  }*/ }
  .task input {
    margin-right: 10px; }

.dragged-task {
  width: 35%;
  text-align: left; }

.checkbox {
  border: 3px solid black;
  border-radius: 3px;
  position: relative;
  height: 21px;
  width: 21px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  font-weight: 300; }
  .checkbox .window {
    width: 100%;
    height: 100%;
    color: #fff; }
    .checkbox .window:hover {
      opacity: 0; }
  .checkbox .back {
    width: 100%;
    height: 100%;
    z-index: -1; }
  .checkbox img {
    height: 100%;
    width: 100%; }
  .checkbox img, .checkbox .window, .checkbox .back {
    position: absolute;
    top: 0;
    left: 0; }

.task-info {
  display: inline-block;
  vertical-align: top; }

.task-project {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: gray;
  letter-spacing: 2px; }

.completed-true .task-title {
  text-decoration: line-through; }
.completed-true.priority-1 .back {
  background: #e84f4f; }
.completed-true.priority-2 .back {
  background: #70bcc4; }
.completed-true.priority-3 .back {
  background: #fcb041; }
.completed-true.priority-secondary .back {
  background: #000; }

.priority-1 {
  font-size: 48px;
  line-height: 48px; }
  .priority-1 .checkbox {
    border-color: #e84f4f;
    height: 74px;
    width: 74px;
    margin: 53px 50px 53px 0;
    font-size: 65px;
    line-height: 74px; }
  .priority-1 .window {
    background: #e84f4f; }
  .priority-1 .task-info {
    height: 74px;
    margin: 53px 0; }

.priority-2 {
  font-size: 30px;
  line-height: 30px; }
  .priority-2 .checkbox {
    border-color: #70bcc4;
    width: 44px;
    height: 44px;
    margin: 38px 80px 38px 0;
    font-size: 34px;
    line-height: 38px; }
  .priority-2 .window {
    background: #70bcc4; }
  .priority-2 .task-info {
    height: 44px;
    margin: 38px 0; }

.priority-3 {
  font-size: 30px; }
  .priority-3 .checkbox {
    border-color: #fcb041;
    width: 44px;
    height: 44px;
    margin: 38px 80px 38px 0;
    font-size: 34px;
    line-height: 38px; }
  .priority-3 .window {
    background: #fcb041; }
  .priority-3 .task-info {
    height: 44px;
    margin: 38px 0; }

.priority-secondary .checkbox {
  margin: 33px 27px 33px 0;
  border-width: 1px;
  border-color: #9aa1b0; }
.priority-secondary .task-info {
  margin: 23px 0; }

.secondary-title {
  font-size: 18px;
  color: #5f6e8b;
  margin: 33px 0; }

#sideBar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  height: 100%;
  width: 56px;
  background: #1d202a; }

#moreProjectsBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  height: 100%;
  width: 56px; }

#projectList {
  display: block;
  vertical-align: top;
  margin-left: 56px;
  margin-right: 56px; }

#projectsDrawer .drawer {
  width: 100%;
  position: relative;
  top: -42px;
  background: #252a3a;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#projectsDrawer {
  position: fixed;
  bottom: -42px;
  left: 0;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 13px; }
  #projectsDrawer .tag {
    display: inline-block;
    position: relative;
    top: -42px;
    background: #252a3a;
    height: 42px;
    line-height: 42px;
    width: 42px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  #projectsDrawer input {
    background: #394159; }
  #projectsDrawer .drawer {
    width: 100%;
    position: relative;
    top: -42px;
    background: #252a3a;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #projectsDrawer .drawer.open {
      height: 400px; }
    #projectsDrawer .drawer.closed {
      height: 0; }
  #projectsDrawer .project {
    width: 400px;
    margin: 0 65px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    position: relative;
    text-align: left; }
    #projectsDrawer .project .title {
      margin: 40px 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px; }
  #projectsDrawer .projectTaskList {
    height: 250px;
    overflow-y: scroll; }
  #projectsDrawer .task {
    border-bottom: 1px solid #33394b;
    text-align: left; }
  #projectsDrawer .task.p1 {
    color: #e84f4f; }
  #projectsDrawer .task.p2 {
    color: #70bcc4; }
  #projectsDrawer .task.p3 {
    color: #fcb041; }
  #projectsDrawer .task.pSecond {
    color: #5f6e8b; }
  #projectsDrawer .task.p1, #projectsDrawer .task.p2, #projectsDrawer .task.p3, #projectsDrawer .task.pSecond {
    opacity: 0.75;
    font-weight: 700; }

.task form {
  margin: 10px 0;
  position: relative; }
.task input {
  margin: 5px 0; }
.task input[type="text"] {
  border: 0;
  line-height: 15px;
  color: #fff;
  background: #33394b; }
.task input[type="submit"] {
  -webkit-appearance: none;
  border: 0;
  color: #fff; }
.task input:focus {
  outline: 0;
  outline-offset: 0; }
.task #closeNewTask {
  position: absolute;
  top: 0;
  right: 15px;
  display: none; }

.task:hover #closeNewTask {
  display: inline-block; }

.ui-slider-horizontal {
  height: 8px;
  width: 200px; }

.ui-slider {
  position: relative;
  text-align: left;
  display: inline-block;
  margin: 0px; }

.ui-slider:hover {
  cursor: pointer; }

.ui-widget-content {
  border-radius: 2px;
  background: #33394b;
  color: blue; }

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  top: 0;
  margin-left: 0;
  margin-top: -3px;
  background: red; }
  .ui-slider-handle:focus {
    outline: none; }

*,
*:after,
*::before {
  box-sizing: border-box; }

.bt-overlay {
  position: absolute;
  width: 100%; }

.bt-menu-open .bt-overlay {
  height: 100%; }

.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333333;
  background-color: rgba(0, 0, 0, 0);
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s; }
  .bt-menu.bt-menu-open {
    height: 100%;
    border-width: 30px 30px 30px 90px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: border-width 0.3s, background-color 0.3s;
    z-index: 10; }
    .bt-menu.bt-menu-open ul {
      left: 0; }
      .bt-menu.bt-menu-open ul li {
        visibility: visible;
        opacity: 1;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, 0, 0); }
  .bt-menu ul {
    position: fixed;
    width: 90px;
    top: 75px;
    left: -90px;
    margin: 0;
    padding: 0;
    list-style: none;
    backface-visibility: hidden; }
    .bt-menu ul li {
      padding: 16px 0;
      opacity: 0;
      visibility: hidden;
      transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s; }
    .bt-menu ul li, .bt-menu ul li a {
      display: block;
      width: 100%;
      text-align: center; }
    .bt-menu ul li:first-child {
      transform: translate3d(-100%, 200%, 0); }
    .bt-menu ul li:nth-child(2) {
      transform: translate3d(-100%, 100%, 0); }
    .bt-menu ul li:nth-child(3) {
      transform: translate3d(-100%, 0, 0); }
    .bt-menu ul li:nth-child(4) {
      transform: translate3d(-100%, -100%, 0); }
    .bt-menu ul li:nth-child(5) {
      transform: translate3d(-100%, -200%, 0); }

body {
  font-family: "Proxima Nova";
  color: #253659; }
