<template name="drawer">
	
	<div id="projectsDrawer" class="{{#if open}}open{{else}}closed{{/if}} {{ edgeCase }}">
		<div class="exclBox">
			<div class="tag clickable">^</div>
		</div>
		
		<div id="drawerMenu">
			<div class="drawerMenuOption">
				<button type="button" id="newProjectBtn" class="btn">+</button>
			</div>
			<div class="drawerMenuOption">
				<button type="button" class="btn more-btn"></button>
			</div>
		</div>

		<div id="drawerLeftBtnContainer" class="drawerNav">
			<button type="button" class="btn left-arrow" id="drawerLeftBtn"></button>
		</div>
		<div id="drawerRightBtnContainer" class="drawerNav">
			<button type="button" class="btn right-arrow" id="drawerRightBtn"></button>
		</div>

		<div id="projectList" data-page="{{ page }}">
			{{#each projects}}
				{{> projectTemplate }}
			{{/each}}
		</div>


	</div>
</template>