<template name="drawer">
	
	<div id="projectsDrawer">
		<div class="exclBox">
			<div class="tag clickable">^</div>
		</div>
		
		<div id="drawerMenu">
			<div class="drawerMenuOption">
				<button type="button" id="newProjectBtn" class="btn">+</button>
			</div>
			<div class="drawerMenuOption">
				<button type="button" class="btn more-btn"></button>
			</div>
		</div>

		<div id="drawerLeftBtn" class="drawerNav">
			<button type="button" class="btn left-arrow" id="scrollLeftBtn"></button>
		</div>
		<div id="drawerRightBtn" class="drawerNav">
			<button type="button" class="btn right-arrow" id="scrollRightBtn"></button>
		</div>

		<div id="projectList">
			{{#each projects}}
				{{> projectTemplate }}
			{{/each}}
		</div>


	</div>
</template>