<template name="projectList">
	<div id="projectList">
		{{#each projects}}
			{{> projectTemplate }}
		{{/each}}
		
	</div>
</template>


<template name="projectTemplate">
	<div class="project">
		<h2>{{name}}</h2>
		
		<div class="taskList">
			{{> newProjectTaskTemplate }}
			
			{{#each tasks}}
				{{> projectTaskTemplate }}
			{{/each}}

		</div>
	</div>
</template>


<template name="newProjectTemplate">
	<div class="project">
		{{#if createNewProject}}
			<h2>Creating new project</h2>
			<form>
				<label for="title">Project name:</label>
				<input type="text" name="projectName" />
				<input type="submit" value="Create" />
			</form>
		{{else}}
			<div class="newProjectTrigger">
				<h2>+ New project...</h2>
			</div>
		{{/if}}
	</div>
</template>