<template name="projectTaskTemplate">
	<div class="task {{taskClasses}}">
		<button class="clickable deleteTaskBtn btn">X</button>
		<p>{{title}}</p>
	</div>
</template>


<template name="newProjectTaskTemplate">
	<form>
		<button class="clickable deleteTaskBtn btn">X</button>
		<div>
			<input type="text" class="nameInput" name="title" placeholder="Task name" />
		</div>
		<div>
			<div class="slider"></div>   <!-- This is made when drawn -->
			<span>{{ timeEstimate }}</span>
		</div>
		<button type="submit" class="btn createBtn">Create</button>
	</form>
</template>